nav a{
    text-decoration: none;
}

nav{
    display: grid;
    grid-template-columns: repeat(8, 0.1fr);
    grid-column-start: 2;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}

.container1{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10vw;
    gap: 20px;
}
.container1 i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}